extends layout
//- syntax for using layout.pug file

include mixins/_storeCard


block content
	//- replaces .content block content section of layout.pug with <p>Hello</p>
	.inner
		h2= title 
		// could also be written as h2 #{title}
		.stores
			each store in stores
				+ storeCard(store)